openai==1.37.1
langchain==0.2.6
langchain_milvus==0.1.1
pymilvus==2.4.4
langchain_community==0.2.6
tiktoken
langchain_nvidia_ai_endpoints==0.1.2virtual
pypdf==4.3.1
gradio==4.37.2
typing_extensions==4.12.2
